/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
     overflow-x: hidden !important;
}
:root{
    --primary-color:#018dca;
    --secondary-color:#eb0085;
}
body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden !important;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px
}

h2 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
  font-family: 'Playfair Display';
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
.full {
     float: left;
     width: 100%;
}

.padding_0{
    padding: 0px;
}

.layout_padding {
     /* padding-top: 90px; */
     padding-bottom: 0px;
}
/* Snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
/* header section start */

.header_section {
    width: 100%;
    float: left;
    height: auto;
    background-size: 100%;
}

.navbar{
    position: fixed;
    top: 0;
    border: none;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    background-color: none;
    z-index: 999;
    display: flex !important;
    justify-content: space-between !important;
}
.navbar .navbar-nav {
    width: 100%;
    display: flex !important;
    justify-content: right;
}
.bg-light {
    padding: 20px 60px 17px 70px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    /* padding-left: 15px; */
    font-size: .9rem;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #070707;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #070707;
}
.logo{ 
    width: 60px;
    float: left;
}

.mr-auto, .mx-auto {
    margin-right: initial!important;
}
/* header section end */

/* banner section start */
.fade-in {
  animation: fadeIn 7s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  overflow: hidden;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.banner_section {
    /* height: calc(100vh - 100px); */
    /* padding-bottom: 140px; */
    height: 100vh;

    /* border-bottom: 80px solid var(--primary-color); */
    /* background-image: url("../images/index/atoz-bannerr.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    /* position: absolute; */
    top: 0;
}
.video-bg {
  position: relative;
  height: 100vh; /* Set height to viewport height */
  overflow: hidden; /* Hide overflow */
}

.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Set z-index to put the video behind content */
  overflow: hidden; /* Hide overflow */
}


.banner_main {
    width: 44%;
    float: left;
    background: #fff;
    padding: 40px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 48px;
    color: #060707;
    font-weight: bold;
}
.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    margin: 0px;
}
.btn_main {
    width: 100%;
    display: flex;
    padding-top: 40px;
}
.contact_bt {
    width: 170px;
    float: left;
}
.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #060707;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.contact_bt a:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}
.contact_bt.active a {
    color: #ffffff;
    background-color: var(--primary-color);
}
.readmore_bt {
    width: 170px;
    float: left;
    margin-left: 20px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #060707;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.readmore_bt a:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}

.carousel-indicators {
    bottom: -120px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: #c2c2c2;
}

.carousel-indicators .active {
    background-color: var(--primary-color);
}
/* banner section end */

/* Group of companies */
.company-link-title h3{
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  /* font-family: var(    --font-family-sans-serif); */
  margin: 50px 0px 0px 0px ;
  position: relative;
}
@media (max-width: 768px) {
  .company-link-title h3{
    font-size: 2.5rem;
  }
  .navbar-collapse{
    margin-top: 5%;
    background-color: #f7f7f7 !important;
  }
}
.company-link-container{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  transition: .3s;
}
.company-link-container *{
}
.company-link-container .left-arrow, .company-link-container .right-arrow{
  position: absolute;
  z-index: 5;
  height: 40px;
  width: 40px;  
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.287);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-link-container .left-arrow svg, .company-link-container .right-arrow svg{
  height: 20px;
  width: 20px;
  fill: white;
  z-index: 5;
}
.company-link-container .right-arrow{
  right: 0;
}
@media (min-width: 1250px) {
  .company-link-container .left-arrow, .company-link-container .right-arrow{
    display: none;
  }
}
.company-link-cards{
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content:stretch;
  touch-action: pan-x;
  gap: 20px;
  position: relative;
  scroll-behavior: smooth;
}
.company-link-cards::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.company-link-cards::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.company-link-cards::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}

/* Handle on hover */
.company-link-cards::-webkit-scrollbar-thumb:hover {
  background: #f9f9f9;
}
.company-link-cards .company{
  height: 150px;
  border-radius: 5px;
  min-width: 250px;
  text-align: center;
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.205);
  position: relative;
  color: white;
  overflow: hidden;
  touch-action: pan-x;
}
.company-link-cards .company-title{
  /* display: none; */
  height: 150px !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  color: white;
  font-size: 2rem;
}
.company:hover .company-title{
  opacity: 0;;
}
.company-link-cards .company .bg-img{
  height: 100%;
  width: 100%;
  /* z-index: -1; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-link-cards .company .bg-img img{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: .3s;
  width: 100%;
  object-fit: cover;
  /* z-index: -1; */
  filter: brightness(0.5);
}

.company-link-cards .company:hover .bg-img  img{
  width: 120%;
  height: 120%;
  filter: brightness(0.9);
}

.companies {
    flex-direction: row;
    width: 100%;
    position: relative;
  }
  .company-banner-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  @media (max-width: 1245px) {
    .company-banner-container {
      width: 100%;
    }
  }
  .company-banner-container:nth-child(1) {
    background: url("../images/company_banners/Furnishings.gif")
  }
  .company-banner-container:nth-child(2) {
    background: url("../images/company_banners/Interiors.gif")
  }
  .company-banner-container:nth-child(3) {
    background: url("../images/company_banners/jewellery.gif")
  }
  .company-banner-container:nth-child(4) {
    background: url("../images/company_banners/Realestate.gif")
  }
  .company-banner-container:nth-child(5) {
    background: url("../images/company_banners/hospitality.gif")
  }

  @media (max-width: 750px) {
    .company-banner-container:nth-child(1){
    background-image: url("../images/company_banners/m_1.jpg");
    }
    .company-banner-container:nth-child(2){
      background-image: url("../images/company_banners/m_2.jpg");
    }
    .company-banner-container:nth-child(3){
      background-image: url("../images/company_banners/m_3.jpg");
    }
    .company-banner-container:nth-child(4){
      background-image: url("../images/company_banners/m_4.jpg");
    }
    .company-banner-container:nth-child(5){
      background-image: url("../images/company_banners/m_5.jpg");
    }
  }

  .company-banner-container:nth-child(n) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    position: relative;
  }
  .company-banner-container{
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .company-banner-container .text-box-know{
    position: absolute;
    padding: 30px;
    bottom: 20px;
  }

  #text-box-1{
    font-family: 'Playfair Display';
    display: none;
  }

  #text-box-2{
    font-family: 'Playfair Display';
    display: none;
  }
  #text-box-3{
    display: none;
    font-family: 'Playfair Display';
  }
  #text-box-4{
    display: none;
    font-family: 'Playfair Display';
  }
  #text-box-5{
    display: none;
    font-family: 'Playfair Display';
  }
  .company-banner-container .text-box{
    position: absolute;
    width: 50%;
    padding: 30px;
    background-color: white;
    bottom: 20px;
  }
  @media (max-width: 750px) {
    .company-banner-container .text-box{
      width: 90%;
    }
  }
   .company-banner-container .text-box.right{
    right: 20px;
  }
   .company-banner-container .text-box.left{
    left: 20px;
  }
  .company-banner-container .text-box-know.left{
    left: 20px;
  }
  .company-banner-container h2 {
    color: white;
    font-size: 2rem;
}

.company-banner-container .company-banner p {
    font-size: 1rem;
    margin: 0;
  }
  
  .company-names {
    padding-top:10px;
    position: fixed;
    text-align: center;
    top: 69%;
    right: 20px;
    transform: translateY(-50%);
    width: 138px;
    color: rgb(29, 29, 29);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
  
  .company-names .company-name {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .company-names .company-name:hover {
    color: var(--secondary-color);
  }


  .know-more-bttn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   .know-more-bttn.learn-more {
    width: 12rem;
    height: auto;
   }
   
   .know-more-bttn.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #fcfcfc;
    border-radius: 1.625rem;
   }
   
   .know-more-bttn.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .know-more-bttn.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   .know-more-bttn.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--primary-color);
    border-right: 0.125rem solid var(--primary-color);
    transform: rotate(45deg);
   }
   
   .know-more-bttn.learn-more .know-more-bttn-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fcfcfc;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   .know-more-bttn:hover .circle {
    width: 100%;
   }
   
   .know-more-bttn:hover .circle .icon.arrow {
    background: #fcfcfc;
    transform: translate(1rem, 0);
   }
   
   .know-more-bttn:hover .know-more-bttn-text {
    color: var(--primary-color);
   }
/* 
.group-of-companies{
    padding: auto 50px;
    float: left; 
    width: 100%; 
}
.group-of-companies .heading{
    text-align: center;
    font-size: 2rem;
    padding: 0 0  50px 0;
    font-weight: bold;
}
.group-of-companies .company-container{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 80%;
    display: flex;
    gap: 20px;
    overflow-x: scroll;    
    text-align: center;
}
.group-of-companies .company-container::-webkit-scrollbar {
    height: 8px;
  }
  
.group-of-companies .company-container::-webkit-scrollbar-track {
background: #f1f1f1;
}

.group-of-companies .company-container::-webkit-scrollbar-thumb {
background: #ababab;
border-radius: 5px;
}

.group-of-companies .company-container::-webkit-scrollbar-thumb:hover {
background: #555;
}
.group-of-companies .company-container .company-info{
    width: 100%;
    display: grid;
    justify-content: center;
    width: 100%;
}
.group-of-companies .company-container .company-info .image img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.216);
}
.group-of-companies .company-container .company-info .image{

    height: 150px;
    width: 150px;
}
.group-of-companies .company-container .company-info .company-name{
    padding: 10px 0;
}
@media (max-width: 1120px) {
    .group-of-companies .company-container{
        grid-template-columns: repeat(4,calc(25% - 10px) );
        gap: 10px;
        text-align: center;
    }
}
@media (max-width: 750px) {
    .group-of-companies .company-container{
        grid-template-columns: repeat(3,calc(33% - 10px) );
        gap: 10px;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .group-of-companies .company-container{
        grid-template-columns: repeat(2,calc(50% - 10px) );
        gap: 10px;
        text-align: center;
    }
} */
/* about section start */
.about_section {
    width: 100%;
    float: left;
    padding-bottom: 20px;
}
.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}
.about_image {
    width: 100%;
    float: left;
    padding-left: 22px;
    padding-top: 37px;
}
.about_image::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 340px;
    background-color: var(--primary-color);
    left: 0px;
    right: initial;
    top: 0;
    z-index: -1;
}

.about_taital {
    font-size: 3rem;
    width: 59%;
    padding-left: 24%;
    float: left;
    font-size: 40px;
    color: #0f0f0f;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.about_taital::after {
    content: '';
    position: absolute;
    width: 193px;
    height: 2px;
    background-color: #252525;
    left: initial;
    right: 0px;
    top: 44%;
    z-index: -1;
}
.about_text {
    padding-left: 24%;
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0f0f0f;
    margin: 0px;
    font-weight: 500;
    font-family: 'Playfair Display';
    
}
.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0f0f0f;
    margin: 0px;
    font-family: 'Playfair Display';
}
.about_taital_main {
    width: 100%;
    float: left;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.read_bt {
    width: 170px;
    float: right;
    padding-top: 64px;
}
.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #181818;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
.read_bt a:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}

/* about section end */

/* services section start */

.services_section{
    width: 100%;
    float: left;
    /* background-image: url(./images/index/about-us.jpg); */
    background-size: 100%;
    background-repeat: no-repeat;
}
.services_taital {
    width: 40%;
    float: left;
    font-size: 40px;
    color: #0f0f0f;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
.services_taital::after {
    content: '';
    position: absolute;
    width: 193px;
    height: 2px;
    background-color: #0f0f0f;
    left: initial;
    right: 0px;
    top: 44%;
}
.services_section_2 {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}
.icon_box {
    width: 70px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #edf0f2;
    border-radius: 3px;
    margin-top: 30px;
}
.icon_1{
    width: 100%;
    text-align: center;
}
.selection_text{
    width: 100%;
    font-size: 20px;
    color: #0f0f0f;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.ipsum_text {
    width: 68%;
    font-size: 15px;
    color: #0f0f0f;
    margin: 0px;
}

/* services section end */

/* blog section start */
.blog_section{
    width: 100%;
    float: left;
}
.blog_img{
    width: 100%;
    float: left;
}
.blog_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #141414;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;

}
.blog_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #141414;
    margin: 0px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}


/* blog section end */

/* events section start */
.events_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.events_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #141414;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
.events_section_2 {
    width: 100%;
    float: left;
    margin-top: 40px;
}
.events_bg {
    width: 100%;
    float: left;
    background-image: url(../images/events-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 160px 0px;
}

.play_icon {
    width: 200px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    text-align: center;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 48px;
    left: 100px;
    width: 110px;
    height: 110px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #181818;
    text-align: center;
    padding: 10px 0px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.seemore_bt a:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}

/* events section end */

/* contact section start */

.contact_section {
  background-image: url("../images/index/car-bg.jpeg");
  background-repeat: no-repeat;
    background-size: cover;
}

.contact_taital {
    width: 40%;
    float: left;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.contact_taital::after {
    content: '';
    position: absolute;
    width: 193px;
    height: 2px;
    left: initial;
    right: 0px;
    top: 44%;
}
.contact_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin: 0px;
   font-family: 'Roboto', sans-serif;
}
.contact_section_2{
    width: 100%;
    float: left;
    padding-top: 50px;
}
.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    /* color: #727272; */
    border: 0px;
    background-color: #ffff;
    padding: 15px;
    margin-top: 20px;
   font-family: 'Roboto', sans-serif;
}
/*input.mail_text::placeholder {
    color: #727272; 
}*/
.massage-bt {
    /* color: #727272; */
    width: 100%;
    font-size: 18px;
    /* background-color: #ffff; */
    padding: 55px 15px 15px 15px;
    border: 0px;
    height: 167px;
    margin-top: 20px;
   font-family: 'Roboto', sans-serif;
}
textarea#comment::placeholder {
    color: #727272;
    font-family: 'Playfair Display';

}
.map_main{
    width: 100%;
    float: left;
    padding-top: 20px;
}

.send_bt {
    width: 150px;
    float: left;
    margin-top: 40px;
}
.send_bt a {
    width: 100%;
    float: left;
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    padding: 14px 0px;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
}
.send_bt a:hover {
    background-color: #ffffff;
    color: #000;
}

/* contact section end */

/* contact section start */

.testimonial_section{
    width: 100%;
    float: left;
    padding-bottom: 130px;
}
.testimonial_taital{
  margin-top:55px ;
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2420;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.testimonial_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2c2420;
    text-align: center;
    margin: 0px;
    font-family: 'Playfair Display';
    
}
.testimonial_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 10px;
}
.testimonial_box {
    width: 100%;
    background-color: #ffffff;
    padding: 55px 30px 100px 30px;
    box-shadow: 0px 2px 12px 10px #f3f2f2;
}
.jonimo_text{
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.dummy_text{
    width: 100%;
    font-size: 16px;
    color: #000;
    margin: 0px;
    padding-top: 20px;
    font-family: 'Playfair Display';
}
.jonimo_taital_main{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #363636;
}
.quick_icon{
    float: right;
}
.quick_icon_1{
    display: none;
}

/* .testimonial_box:hover{
    background-color: var(--primary-color);
}
.testimonial_box:hover .dummy_text{
    color: #ffffff;
}
.testimonial_box:hover .jonimo_text{
    color: #ffffff;
}
.testimonial_box:hover .quick_icon_1{
    display: block;
}
.testimonial_box:hover .quick_icon{
    display: none;
}
.testimonial_box:hover .jonimo_taital_main{
    border-bottom: 1px solid #ffffff;
} */

#my_carousel .carousel-indicators {
    bottom: -100px;
}
#my_carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #0a0a0a;
}

#my_carousel .carousel-indicators .active {
    width: 50px;
    background-color: var(--primary-color);
}

.margin_top90{
    margin-top: 90px;
}


/* contact section end */

/* footer section start */
footer {
    width: 100%;
    float: left;
    /* padding-bottom: 180px; */

    background-color: #ffffff;
    color: #000000;
    padding: 30px 0px 0px 0px;
  }
  footer p{
    all: unset;
  }
  footer h3{
    font-weight: 500;
    color: #d6d2d2;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-form {
    width: 50%;
  }
  
  .contact-form h3 {
    margin-top: 0;
  }
  
  .contact-form input,
  .contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;
  }
  
  .contact-form .submit-bttn button {
    font-family: inherit;
    font-size: 1rem;
    background: var(--secondary-color);
    color: white;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  .contact-form .submit-bttn button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .contact-form .submit-bttn button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form .submit-bttn button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .contact-form .submit-bttn button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .contact-form .submit-bttn button:hover span {
    transform: translateX(5em);
  }
  
  .contact-form .submit-bttn button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  
  
  footer .right-section {
    width: 45%;
  }
  footer .right-section .about-service{
    color: #d6d2d2;
    padding: 20px 0;
    display: flex;
    gap: 10px;
  }
  .about-service .about{
    width: 50%;
    margin-right: 50px;
    margin-left: 6px;
    text-align: left;
  }
  
  .about-service .service{
    width: 50%;
    text-align: left;
  }
  .about-service h3 {
    margin-top: 0;
    color: #d6d2d2;
  }
  
  .about-service ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .about-service li {
    margin-bottom: 5px;
  }
  
  .social-links {
    font-size: 20px;
    display: flex;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .social-links a:hover {
    transform: translateY(-5px);
  }

  .contact-form h3{
    color: #d6d2d2;
  }
  @media (max-width: 750px) {
    .container {
        display: block;
    }
    .contact-form{
        width: 100%;
    }
    footer .right-section{
        width: 100%;
    }
    .about-service{
        width: 100%;
    }
  }
/* footer section end */

/* Login section */
  
  .contact_main p:first-child {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .contact_main .user-box {
    position: relative;
  }
  
  .contact_main .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: none;
    outline: none;
  }
  input:-webkit-autofill {
    -webkit-background-color: white !important;
    background-color: white !important;
  }
  .contact_main .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .contact_main .user-box input:focus ~ label,
  .contact_main .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
  }
  
  .contact_main form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .contact_main a:hover {
    color: #272727;
    border-radius: 5px;
  }
  
  .contact_main a span {
    position: absolute;
    display: block;
  }
  
  .contact_main a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    /* background: linear-gradient(90deg, transparent, #fff); */
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .contact_main a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .contact_main a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .contact_main a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .contact_main p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .contact_main a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .contact_main a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }
  .card-1 {
    width: 100%;
    min-height: 70vh;
    border-radius: 4px;
    display: flex;
    padding: .4em;
    margin-bottom: 50px;
  }
  @media (max-width: 750px) {
    .card-1{
      display: block;
    }
  }
  @media (max-width: 750px) {
    .banner_section{
    /* background-image: url("../images/index/mobile_view.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }
  }
  .hover-card-bg-1{
    background: url("../images/company_banners/card1.jpg");
  }
  .hover-card-bg-2{
    background: url("../images/company_banners/card2.jpg");
  }
  .hover-card-bg-3{
    background: url("../images/company_banners/card3.jpg");
  }
  .hover-card-bg-4{
    background: url("../images/company_banners/card4.jpg");
  }
  
  .hover-card-bg{
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 2;
    filter: contrast(0.8) ;
    transition: .5s;
  }
  .card-1 .hover-card-container:hover .hover-card-bg{
    filter: contrast(1);
  }
  .card-1 .hover-card{
    z-index: 5;
    height: 70vh;
    width: 100%;
    max-height: 70vh;
    min-width: 14em;
    padding: 20px;
    transition: all .5s;
    letter-spacing: .1em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.553);
}
  .card-1 .hover-card-container{
    color: white !important;
    z-index: 5;
    position: relative;
    height: 70vh;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
  }
  .card-1 h3{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .card-1 .hover-card-container:hover {
    flex: 4;
  }

  .card-1 .hover-card-description{
    font-family: 'Playfair Display';
    margin: 0;
    opacity: 0;
    position: absolute;
    bottom: -100vh;
    transition: .4s,0.3s ease-in .1s;
}

    .card-1 .hover-card-container:hover .hover-card-description {
    position: relative;
    opacity: 1;
    bottom: 0;
  }
  @media (max-width: 750px) {
    .card-1{
      display: block;
    }
    .card-1 .hover-card-container .hover-card-description {
      position: relative;
      opacity: 1;
      bottom: 0;
    }
    .card-1 .hover-card-container .hover-card-bg{
      filter: contrast(1);
    }
  }
/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #1d1d1d;
    height: auto;
}
.copyright_text {
    width: 100%;
    float: left;
    font-size: 0.8rem;
    color: #ffffff;
    text-align: center;
    padding: 20px 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.copyright_text a {
    color: var(--primary-color);
}
.copyright_text a:hover {
    color: var(--secondary-color);
}


/* copyright section end */


/* Careers */
#careers_section{
  float: left;
  min-height: 90vh;
  /* background-color: var(--primary-color); */
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width: 1245px ) {
  #careers_section{
    padding: 40px;
  }
}
.career-content{
  width: auto;
  padding: 30px;
}
.careers-section {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.808);
  text-align: center;
}

.job-listing {
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.705);
}

.job-listing h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job-listing p {
  font-size: 16px;
  margin-bottom: 20px;
}

.apply-form {
  padding: 0% 10% 0% 10%;
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 20px; */
}
.apply-form>*{
  width: 50%;
}
.apply-form .left{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.apply-form .left img{
  height: 100%;
  mix-blend-mode:multiply;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}
.form-group label {
  font-family: 'Playfair Display';

  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea
 {    
  font-family: 'Playfair Display';
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input[type="file"] {
  display: none;
}

.file-upload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  padding: 20px;
  border: 2px dotted #949494;
  border-radius: 5px;
  cursor: pointer;
}

.file-upload label,.file-upload p {
  margin: 0;
  text-align: center;
  width: 100%;
}

.file-upload:hover {
  background-color: #f2f2f2;
}
.file-upload.active{
  border-color: var(--primary-color);
}
.file-upload.activated{
  border-color: var(--secondary-color);
}
@media screen and (max-width: 768px) {
  .apply-form {
    flex-direction: column;
  }
  .form-group,
  .file-upload {
    width: 100%;
    margin-right: 0;
  }
  .apply-form>*{
    width: 100%;
  }
}
.career-subhead{
  font-family: 'Playfair Display';
  text-align: center;
}
.career-form-bttn {
  font-family: inherit;
  font-size: 1rem;
  background: var(--secondary-color);
  color: white;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
 }
 
 .svg-wrapper{
  
  margin-top: 8px;
  margin-right: 5px;

 }
 .career-form-bttn span {
  font-family: 'Playfair Display';

  padding: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .career-form-bttn span:after {
  content: 'Now';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.7s;
 }
 
 .career-form-bttn:hover span {
  padding-right: 2.55em;
 }
 
 .career-form-bttn:hover span:after {
  opacity: 4;
  right: 0;
 }



  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  /* Careers Card */
/* 
  .car-login {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
  }
  .car-container{
    width: 20%;
    float: right;
    margin-right: 20% ;
    height: auto;
    padding-bottom: 90px;
    color: white;
}
@media (max-width: 750px) {
  .car-container{
    float: left;
    margin-left: 20% ;
    height: auto;
}
}
  .car-card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    min-width: 300px;
    flex-direction: column;
    gap: 35px;
    background-color: white;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe; 
    border-radius: 8px;
  }
  
  .car-inputBox {
    position: relative;
    width: 250px;
  }
  
  .car-inputBox input {
    width: 100%;
    padding: 7px;
    outline: none;
    border: none;
    color: #000;
    font-size: .8em;
    background: transparent;
    border-bottom: 1px solid #000;
    transition: 0.1s;
  }

  .car-inputBox span {
    margin-top: 3px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
  }
  
  .car-inputBox input:valid~span,
  .car-inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;  
    border: 2px;
  }
  
  .car-inputBox input:valid,
  .car-inputBox input:focus {
    border: 1px solid #000;
    border-radius: 3px;
  } */

   /* Our Mission Vision  */
   .card-mission {
    margin: 6% 0% 5% 23%;
    width: 59%;
    border: none;
    box-shadow: 0px 0px 42px 2px #eee;
    /* background-color: #eee; */
    padding: 10px;
    position: relative;
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-mission-content {
    flex-basis: 100%;
    text-align: center;
  }
  
  .card-mission-image {
    margin-top: -5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 130%;
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .card-mission-image {
      display: block;
    }
    
    .card-mission-content {
      flex-basis: 70%;
      padding: 3% 4% 5% 45%;
    }
  }

.card img{
  height: 41vh;
}
.row .col-lg-2{
  padding: 0%;
  margin: 3% 3% 3% 0%;
}

.card-body{
  padding: 0%;
}
.card-body p{
  width: 100%;
  height: 100%;
}
  