.memory-game-App {
    text-align: center;
}

.Container {
    margin: 5px 0px;
    grid-template-columns: auto auto auto auto;
    display: grid;
    padding: 1vh;
    cursor: default;
    /* touch-action: none; */
    border-radius: 3px;
}

.Container-Sub {
    border-radius: 3px;
}
.FillSquare {
    width: 10vh;
    height: 10vh;
    display: flex;
    border-radius: 3px;
    background: var(--blue);
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: var(--secondary-font);
    text-align: center;
    z-index: 10;
    font-size: 1.5em;
    transition: transform 0.3s ease 0s;
    transform: translate3d(0px, 0px, 0px);
    margin: 0.2vw;
    color: #000;
}

.EmptySquare {
    display: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: Pacifico, cursive;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    transition: transform 0.3s ease 0s;
    transform: translate3d(0px, 0px, 0px);
}