.blog-card-container{
    display: flex;
    flex-direction: column;
    background-color: var(--dark2);
    border-radius: 5px;
    height: 100%;
    transition: 0.3s;
}

.blog-card-container .top {
    position: relative;
}
/* .blog-card-container .top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.351), rgba(255, 0, 0, 0.292));
    transform-origin: right;
} */
/* .blog-card-container .top::after{  
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
    background-color: var(--dark2);
    transform-origin: right;
    transform: rotate(-2deg) skew(-2deg) ;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    z-index: 2;
} */
.blog-card-container .img-overlay{
    width: 100%;
    height: 255px;
    overflow: hidden;
    border-radius: 5px;
}
.blog-card-container .top img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 255px;
    border-radius: 5px;
    transition: 0.3s;
    filter: opacity(0.8);
}
.blog-card-container:hover img{
    transform: scale(1.1);
    filter: opacity(1);
}
.blog-card-container .bottom {
    padding: 10px;
    width: 100%;
    height: 100%;
}
.blog-card-container .bottom .title {
    padding: 15px 0 5px 0 ;
    z-index: 3;
    font-size: 1.2rem;
}

.blog-card-container .bottom .desc {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}