.scroller-dots{
    /* border: 1px solid; */
    height: 100%;
    position: fixed;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    z-index: 998;
}
.scroller-dots svg{
    transition: 0.3s;
}
.scroller-dots svg:hover{
    fill: var(--blue);
}

.about-title-bg{
    position: absolute;
    margin-left: -42px;
    top: 0;
    left: 0;
    z-index: -1;
    /* border: 1px solid; */
    /* filter: brightness(0.3); */
    filter: opacity(0.3);
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - var(--nav-height) - 10px);
}
.about-title-bg .bg-video {
    object-fit:cover;
    height: 80vh;
    width: 110%;
    height: 100%;
}
.about-page-conatiner{
    padding: var(--nav-height) 40px 0 40px;
    display: flex;
    flex-direction: column;
    touch-action: none;
}
.about-page-conatiner .about-title-container{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    position: relative;
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--light4);
    color: transparent; */
    /* justify-content: center; */
    font-size: 4.5rem;
    padding: 80px 30vw 40px 10px;
    height: calc(100vh - var(--nav-height) - 10px);
    font-family: var(--font-family-font4);
}
.about-page-conatiner .about-title-container .about-title{
    margin-top: -100px;
}
.no-stroke{
    -webkit-text-stroke-color: transparent;
}
.about-page-conatiner .founder-container *{
    /* border: 1px solid; */
}
.about-page-conatiner .founder-container{
    align-self: center;
    display: grid;
    width: 90%;
    grid: 'left-area right-area';
    grid-template-columns: 40% auto;
    align-items: center;
    gap: 20px;
    justify-content: center;
    min-height: 50vh;
    padding: calc(var(--nav-height) + 40px)0;    
}
.about-page-conatiner .founder-container .left{
    padding: 0 20px;
    grid-area: left-area;
}
.about-page-conatiner .founder-container .title{
    font-size: 2.2rem;
    font-weight: 600;
    /* font-family: var(--secondary-font); */
}
.about-page-conatiner .founder-container .desc{
    text-align: justify;
    color: var(--light4);
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.about-page-conatiner .founder-container .right{
    grid-area: right-area;
    /* border: 1px solid; */
}
.about-page-conatiner .founder-container .right .img-container{
    display: flex;
    position: relative;
    justify-content: center;
    /* box-shadow:inset 0px 0px 100px 100px rgb(0, 0, 0); */
    /* background-color: red; */
}

.about-page-conatiner .founder-container .founder-img{
    width: 100%;
    z-index: -1;
}
.about-page-conatiner .founder-container .img-container:before{
    z-index: 3;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,1);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,1);
    box-shadow:inset 0px 0px 10px 10px rgb(0, 0, 0);
}

.about-page-conatiner .team-says{
    /* border: 1px solid; */
    align-self: center;
    display: grid;
    grid: 'left-area right-area';
    width: 90%;
    grid-template-columns: 60% auto;
    align-items: center;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    padding: var(--nav-height) 0;    
}
.about-page-conatiner .team-says .title{
    font-size: 2.2rem;
    font-weight: 600;
    /* font-family: var(--secondary-font); */
}
.about-page-conatiner .team-says .desc{
    text-align: justify;
    color: var(--light4);
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.about-page-conatiner .team-says .right{
    grid-area: right-area;
}
.about-page-conatiner .team-says .left .img-container{
    display: flex;
    justify-content: center;
}
.about-page-conatiner .team-says .founder-img{
    width: 400px;
    z-index: -1;
}
.what-do-we-offer-container{
    padding:  0 0 80px 0;
}

@media (max-width: 750px){
    .about-page-conatiner{
        padding: auto 20px;
    }
    .scroller-dots svg:hover{
        fill: white;
    }
    .about-page-conatiner .about-title{
        font-size: 3.2rem;
    }
    .about-page-conatiner .founder-container{
        grid-template-columns: 100%;
        grid: 'right-area' 'left-area';
        gap: 0;
        height: 100vh;
    }
    .about-page-conatiner .founder-container .left{
        padding: 0;
    }
    .about-page-conatiner .founder-container .title{
        font-size: 1.8rem;
        white-space:pre-line;
    }
    .about-page-conatiner .founder-container .founder-img{
        width: 300px ;   
    }
    .about-page-conatiner .team-says{
        padding: calc(var(--nav-height) + 20px) 20px;
        grid-template-columns: auto;
        grid: 'left-area' 'right-area';
        /* height: 0vh; */
    }
    .about-page-conatiner .team-says .title{
        font-size: 1.8rem;
        white-space:pre-line;
    }
    .about-page-conatiner .team-says .founder-img{
        width: 300px ;   
    }
    .what-do-we-offer-container{
        padding:  0 0 50px 0;
    }
}

@media (max-width: 350px){
    .about-page-conatiner .founder-container .founder-img{
        width: 175px ;   
    }
    .about-page-conatiner .team-says .founder-img{
        width: 175px ;   
    }
}