footer{
    display: flex;
    width: 100%;
    position: sticky;
    bottom: 0;
    justify-content: center;
    min-height: 300px;
    background-color: var(--dark2);
}
footer .footer-container{
    padding: 40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
footer .footer-container .logo{
    font-size: 4rem;
    font-family: var(--secondary-font); 
}
footer .footer-container > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container > .footer-links > .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .footer-container > .footer-links > .links a:hover{
    color: var(--blue);
}
    footer .footer-container > .subscribe-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}
footer .footer-container .subscribe-container .text{
    font-size: 1.5rem;
}
footer .footer-container .subscribe-container .subscribe-container-input{
    display: flex;
}
footer .footer-container .subscribe-container .subscribe-container-input input,
footer .footer-container .subscribe-container .subscribe-container-input button{
    height: 40px;
    border: 1px solid var(--dark2);
}
footer .footer-container .subscribe-container .subscribe-container-input input{
    background-color: var(--light4);
    min-width:200px ;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 10px;
    outline: none;
}
footer .footer-container .subscribe-container .subscribe-container-input input:invalid{
    background-color: rgb(249, 218, 218);
}
footer .footer-container .subscribe-container .subscribe-container-input button{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    background-color: var(--dark1);
    padding: 0 20px;
    color: white;
}
footer .footer-container .subscribe-container .social-icons a{
    padding: 5px;
}
@media (max-width: 750px) {
    footer .footer-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        gap: 40px;
    }
    footer .footer-container > .subscribe-container{
        flex-wrap: 700px;
    }
}
@media (max-width: 350px) {
    footer .footer-container .subscribe-container .subscribe-container-input{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    footer .footer-container .subscribe-container .subscribe-container-input input{
        width: 100%;
        border-radius: 3px;
    }
    footer .footer-container .subscribe-container .subscribe-container-input button{
        border-radius: 3px;
        width: 100%;  
    }
}