
nav {
    background: var(--dark1);
    min-height: var(----nav-);
    max-height: var(----nav-);
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
  }
  
  nav > .nav {
    min-height: var(--nav-height);
    max-height: var(--nav-height);
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 20;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
  }
  nav .nav-logo{
    position: relative;
    left: 50px;
    color: var(--light1);
    font-family: var(--secondary-font); 
    font-size: 2rem;
    font-weight: 900;
  }
  @media (max-width: 720px) {
    nav{
      right: initial;
    }
    nav .nav-logo{
      left: 15px;
    }
  }
  nav > .nav .nav-logo a {
    display: block;
  }
  
  nav > .nav .nav-logo a > svg {
    width: 12rem;
    display: block;
  }
  /* nav > * > *{
    border: 1px solid;
  } */
  nav > .nav .nav-links {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    align-items: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  
  nav .nav .nav-links .link-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;  
  }
  nav > .nav .nav-links li {
    font-weight: var(--font-medium);
    position: relative;
    padding: 1.2rem;
    color: var(--light4);
    display: block;
  }
  
  nav > .nav .nav-links li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 9rem;
    background: var(--light3);
    z-index: 20;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    -o-transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
  
  nav > .nav .nav-links li a {
    display: block;
    overflow: visible;
  }
  
  nav > .nav .nav-links li span.linkDesc {
    display: block;
    position: absolute;
    top: 100%;
    left: 1rem;
    width: 110%;
    max-height: 0;
    overflow: hidden;
    white-space: pre-wrap;
    -webkit-transition: 0.7s cubic-bezier(0.33, 1, 0.68, 1);
    -o-transition: 0.7s cubic-bezier(0.33, 1, 0.68, 1);
    transition: 0.7s cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 1rem;
    font-weight: var(--font-light);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    color: var(--light3);
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.841);
    padding: 3px 5px;
    border-radius: 10px;
  }
  
  nav > .nav .nav-links li:hover a {
    color: var(--blue);
  }
  
  nav > .nav .nav-links li:hover::after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
  
  nav > .nav .nav-links li:hover span.linkDesc {
    max-height: 20rem;
    height: auto;
  }
  
  nav > .nav .mobileMenu-container {
    display: none;
  }
  /* Menu Button 3 */
  .nav-menuBtn{
    position: relative;
    right: 20px;
  }
  .menu-btn-3 {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .menu-btn-3 span,
  .menu-btn-3 span::before,
  .menu-btn-3 span::after {
    background: currentColor; 
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;         
    margin-top: 13px;
    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(deg);
    transform: rotate(180deg);
  
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  .menu-btn-3 span::before {
    margin-top:-12px;
  }
  
  .menu-btn-3 span::after {
    margin-top:12px;
  }
  
  .menu-btn-3.active span {
    background: transparent;
  }
  
  .menu-btn-3.active span::before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu-btn-3.active span::after {
    transform: rotate(-45deg);
    margin-top: 0;
  }
  
  nav #nav-fullscreen{
    position: absolute;
    width: 100%;
    left: -200vw;
    height: 100vh;
    margin-top: 20px;
    transition: 0.3s;
  }
  nav #menu-mobile-menu{
    list-style: none;
    padding: 0 40px;
  } 
  nav #menu-mobile-menu li{
    padding: 20px 0;
    font-size: 1.5rem;
  }
  @media (max-width: 1200px) {
  
    nav > .nav .mobileMenu-container {
      display: block;
    }
    nav #menu-main-menu{
      display: none;
    }
  }
  