.brand-accross-world-wrapper{
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.brand-accross-world-wrapper .background-img{
  position: absolute;
  filter: brightness(25%);
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-accross-world-wrapper .background-img img{
  animation: spin 60s infinite;
  width: 50%;
}
.brand-accross-world-conatiner{
  display: grid;
  grid-template-columns: 50% auto;
  gap: 20px;
  min-height: 50vh;
  align-items: center;
  z-index: 1;
}
.brand-accross-world-conatiner .left{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  /* padding: 0 20px 0 15vw; */
  font-family: var(--font-family-font4);
}
.brand-accross-world-conatiner .right{
  /* padding: 0 15vw 0 20px; */
}
.brand-accross-world-conatiner .right .quote-svg-container .top{
  display: grid;
  grid-template-columns: auto auto;
}
.brand-accross-world-conatiner .right .quote-svg-container .top .company .comp-name{
  font-size: 2.5rem;
  padding: 0 15px;
  /* animation: 9.5s fadeIn 0.3s ease-in-out infinite; */
}
.brand-accross-world-conatiner .right .quote-svg-container .top .company .person-name-position{
  font-size: 1.7rem;
  padding: 0 15px;
  /* animation: 9.5s fadeIn 0.3s ease-in-out infinite; */
}
.brand-accross-world-conatiner .right .quote-svg-container .bottom{
  padding: 10px 0;
  height: 310px;
  overflow: hidden;
  font-size: 1.2rem;
  text-align: justify;
  text-overflow: ellipsis;
  /* animation: 9.5s fadeIn 0.3s ease-in-out infinite; */
}
.brand-accross-world-conatiner .right .quote-svg-container .quote-img img{
  width: 100%;
  min-height: 80%;
}
.client-company-logo-container{
  padding: 40px;
  min-height: 150px;
  display: flex;
  align-items: center;
  background-color: var(--dark2);
}
.client-company-logo{
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--light4);
}
@keyframes spin {
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(350deg);
  }
}
@media (max-width: 1000px) {
  .brand-accross-world-conatiner{
      grid-template-columns: 50% auto;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .top{
      display: grid;
      grid-template-columns: auto auto;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .top .company .comp-name{
      font-size: 1.5rem;
      padding: 0 15px;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .top .company .person-name-position{
      font-size: 1.1rem;
      padding: 0 15px;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .bottom{
      padding: 10px 0;
      font-size: 1rem;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .quote-img img{
      /* width: 100%; */
      min-height: 90%;
  }
}
@media (max-width: 680px) {
  .brand-accross-world-conatiner{
      grid-template-columns: auto;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .top .company .comp-name{
      font-size: 1.5rem;
      padding: 0 15px;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .top .company .person-name-position{
      font-size: 1.1rem;
      padding: 0 15px;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .bottom{
      padding: 10px 0;
      font-size: 1rem;
  }
  .brand-accross-world-conatiner .right .quote-svg-container .quote-img img{
      width: 100%;
      min-height: 90%;
  }
  .brand-accross-world-wrapper .background-img{
    width: 200%;
  }
  .brand-accross-world-wrapper .background-img{
    bottom: -120px;
  }

}