.home-container-1{
    /* border: 1px solid; */
    /* padding: var(--nav-height) auto; */
}
.home-container-1 .grid-2 .left{
}
.home-container-1 .grid-2 .company-name{
    font-size: var(--font-extra-big);
    font-family: var(--secondary-font);
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0 0 25px 0px;
    z-index: 6;
}
.home-container-1 .grid-2 .company-tagline{
    font-size: var(--font-regular);
    z-index: 6;
    font-size: 1.3rem;
    font-weight: 500;
    /* text0-align: justify; */
}
@media (min-width: 750px) {
    .home-container-1 .grid-2 .company-tagline{
        font-weight: 400;
    }
}
.home-container-1 .pointed-text{
    width: 90%;
    top: -2px;
    position: absolute;
    font-family: var(--tertiary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    padding: 0 40px ;
}
.home-container-1 .pointed-text-container{
    position: relative;
    display: flex;
}
.home-container-1 .pointed-text .text{
    transform: rotate(-5deg);
    transform-origin: left;
    white-space: nowrap;
}
.home-container-1 .pointed-text-container::after{
    content: "";
    position: absolute;
    right: 0;
    /* background: var(--dark2); */
    /* border: 1px solid; */
    margin: -5px -3px;
    z-index: 5;
    width: 105%;
    height: 105%;
    animation:  1s ease-in 0s 1 forwards show-from-left;
    transform: rotateZ(-5deg);
    transform-origin: center;
    /* border-bottom: 1px solid red; */
}
.home-container-1 .pointed-text img{
    width: 50px;
    transform: rotate(20deg) translateY(10px);
    padding: 10px ;
}
@media (max-width: 750px) {
    .home-container-1 .pointed-text{
        transform: translateY(-2px);
    }
    .home-container-1 .pointed-text img{
        transform: rotate(20deg) translateY(2px);
    }
}
@keyframes show-from-left{
    0%{
        width:100%;
    }
    100%{
        width: 0;
    }
}
